*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#logo{
    height: 100px;
    width: 100px;
    border-radius: 50px;

}
.container{
    height: 100%;
    width: 100%;
    overflow: none;
    /* background-color: #8EC5FC;
    background-image: linear-gradient(98deg,#8EC5FC 0%,#E0C3FC 100%); */
}
.navContainer{
    width: 100vw;
    /* background-color: blueviolet; */
    background-color: #000000;
    background-image: linear-gradient(160deg,#000000 0%,#8035d0 100%);
    min-height: 80px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
nav{
    width: 100%;
    overflow-x: none;
    padding-right: 2rem;
}
#navList{
    width: 100%;
    padding: 15px;
    /* margin-left: 15px;
    margin-right: 15px; */
    list-style: none;
    font-size: 2.8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#navLogo{
    font-size: 2.8rem;
    color: white;
}
a{
    text-decoration: none;
    color: azure;
}
h1{
    font-size:40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#navItem{
display: flex;
gap: 40px;
}
.footerBox{
    background-color: #000000;
    background-image: linear-gradient(160deg,#000000 0%,#8035d0 100%); 
    text-align: center;
    min-height: 40px;
    margin-bottom: auto;

}
.footerBox p{
    color: azure;
    font-size: 2rem;
}
.contentBox{
    width: 70%;
    margin: auto;
    background-color: rgb(217, 213, 250);
    /* border: 1px solid black; */
    flex-direction: column;
    gap: 100px;
    padding: 3rem;
    box-shadow: 1px 1px 30px black;
}
.item{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.rightBox{
    position: relative;
    overflow: hidden;
    transition: all 0.3s  linear 0;
    box-shadow: 1px 1px 10px black;
    border-radius: 20px;
}
.rightBox img{
    height: 400px;
    width: 350px;
    border-radius:20px;
    transition: all 0.6  linear 0s;
}
.rightBox:hover{
    scale: 1.1;


}
.leftBox{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.leftBox h2{
    font-size: 2rem;
}
.ingBox{
    font-size: 1.3rem;
}
.recBox{
    font-size: 1.1rem;
}
.rightBox .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(36,34,34,0.713);
    border-radius:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.3s linear 0;
}
.rightBox:hover .overlay{
    opacity: 1;
}
.rightBox .overlay span{
    color: white;
    font-size: 1.2rem;

}